<h1>Welcome</h1>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo dolore vero quaerat atque omnis nihil quasi tempore
    asperiores provident, numquam consectetur molestias earum voluptatem nobis vitae. Mollitia ad reiciendis quis!
</p>
<a href="/create">Create todo...</a>